<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ristogram</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="view/css/style.css">
</head>
<body>
    
    <header class="header clearfix">
        <a href="." class="logo">Ristogram</a>
        <a href="" class="icon-menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul class="menu animate">
            <li class="menu-item"><a href=".">Home</a></li>
            <li class="menu-item"><a href="">Contatti</a></li>
            <li class="menu-item"><a href="Registrati">Registrazione</a></li>
            <li class="menu-item menu-item-icon"><a href="" id="search-icon"><img src="view/icons/magnifying-glass.png" alt="ricerca prodotto" height="18px" width="18px"></a></li>
            <li class="menu-item menu-item-icon"><a href=""><img src="view/icons/shopping-cart.png" alt="carrello prodotti" height="18px" width="18px"></a></li>
        </ul>
    </header>

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
              <form action="" method="get" id="search-form">
                  <input type="text" name="search-string" class="search-input-text" placeholder="ricerca un piatto...">
                  <input type="image" class="search-input-icon" src="view/icons/magnifying-glass.png">
              </form>
        </div>
    </div>

    <p style="color: rebeccapurple;margin-top:62px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium quisquam, asperiores non earum officiis fugit sed nobis aliquid voluptate consectetur, ex accusamus quos reprehenderit atque. Placeat iste voluptatum consequuntur!</p>


    <footer>
        <p>© 2019 Copyright: <a href>Ristogram.com</a></p>
    </footer>


    <script src="view/javascript/jquery.js"></script>
    <script>
        $(document).ready(function (){
            $('.icon-menu').click(function (e){
                $('.menu').toggleClass('is-open');
                e.preventDefault();
            });

            $('#search-icon').click(function (e){
                openNav();
                e.preventDefault();
            });
        });
    </script>
    <script>
        function openNav() {
          document.getElementById("myNav").style.height = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.height = "0%";
        }
    </script>
</body>
</html>