<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrazione</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="view/css/style-reg.css">
</head>
<body>

    <header class="header">
        <a href="." class="logo">Ristogram</a>
    </header>

    <section>
        <form action="EseguiRegistrazione" method="post" id="reg-form" enctype="multipart/form-data">
          <div class="container">
            <h2>Benvenuto!</h2>
            <hr>
            <p>Scegli il tipo di registrazione!</p>
            <input type="radio" name="type-reg" id="user-radio" value="utente" checked>
            <label for="user-radio">Utente</label>
            <input type="radio" name="type-reg" id="risto-radio" value="ristorante">
            <label for="risto-radio">Ristorante</label>
            <hr>
            <label for="nome">Nome e Cognome</label>
            <input type="text" name="nome" id="nome" class="input-text" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="input-text" required oninput="validaEmail()">
            <span id="erremail">Email già presente!</span>
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" class="input-text" required>
            <span id="errpass">Password troppo corta!</span>
            <label for="citta">Città</label>
            <input type="text" name="citta" id="citta" class="input-text" required>
            <label for="indirizzo">Indirizzo</label>
            <input type="text" name="indirizzo" id="indirizzo" class="input-text" required>
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" id="telefono" class="input-text" required>
            <span id="errtel">Telefono non valido!</span>
            <label for="oraap" class="ristonly">Aperto dalle</label>
            <input type="text" name="oraap" id="oraap" class="input-text ristonly" placeholder="hh:mm">
            <span id="erroraap">Ora non valida!</span>
            <label for="orach" class="ristonly">alle</label>
            <input type="text" name="orach" id="orach" class="input-text ristonly" placeholder="hh:mm">
            <span id="errorach">Ora non valida!</span>
            <label for="filein" class="ristonly">Inserire da uno a tre immagini di presentazione</label>
            <div class="ristonly"><input type="file" name="filein" id="filein" class="input-file" multiple accept="image/x-png,image/gif,image/jpeg"></div>
            <span id="errfile">File mancante!</span>
            <input type="submit" value="Registrati" class="input-text btn">
          </div>


        </form>
    </section>
    
    <script src="view/javascript/jquery.js"></script>
    <script src="view/javascript/validationReg.js"></script>

    
</body>
</html>