* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.carousel {margin-top: 80px; padding: 0;width: 100%;}

.img {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
}
.text {
    font-family: 'Henny Penny', cursive;
    color: #f2f2f2;
    font-size: 27px;
    font-weight: bold;
    padding: 20px 70px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center
  }
  .filter {
    width: 100%;
    height: 400px;
    background-color: #222;
    opacity: 0.5;
  }

  .menu-prodotti {max-width: 1200px;margin:auto; }

  .piatto {
      margin-top: 20px;
      background-color: #ddd;
      padding: 15px;
      border-radius: 25px;
  }

  .testo-piatto {
      float: left;
      width: 80%;
  }
  .azioni-piatto {
      float: right;
      width: 20%;
      margin-top: 50px;
      text-align: right;
      
  }
  .plus-btn {
      background-color: blue;
      color: white;
      font-weight: bold;
      border-color: blue;
  }
 
